src/main/app/customer-details-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="customer-details-api-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="server/serverKeyStore.jks" alias="selfsigned" keyPassword="password" password="password"/>
        </tls:context>
    </http:listener-config>
    <apikit:config name="customer-details-api-config" raml="customer-details-api.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <db:oracle-config name="Oracle_Configuration" host="${db.host}" port="${db.port}" instance="${db.instance}" user="${db.user}" password="${db.password}" doc:name="Oracle Configuration"/>
    <context:property-placeholder location="customer-details-api-${env}.properties"/>
    <flow name="get:/customerDetails:customer-details-api-config">
        <logger message="&quot;Received request for querying Customer Details&quot;" level="INFO" doc:name="Logger"/>
        <flow-ref name="getAllCustomerDetails" doc:name="Flow Ref: Get All Customer Details"/>

    </flow>
    <flow name="get:/customerDetails/{ID}:customer-details-api-config">
        <logger message="&quot;Received request to query Customer Details for ID &quot;+#[flowVars.ID]" level="INFO" doc:name="Logger"/>
        <flow-ref name="getCustomerByID" doc:name="Flow Ref: Get Customer By ID"/>

    </flow>
    <flow name="post:/customerDetails:application/json:customer-details-api-config">
        <logger message="&quot;Received request to Add Customer Details for Customer ID: &quot;+#[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="postCustomerDetails" doc:name="Flow Ref: Post Customer Details"/>

    </flow>
    <flow name="put:/customerDetails/{ID}:application/json:customer-details-api-config">
        <logger message="&quot;Received request to update Customer details for customer ID :&quot;+#[flowVars.ID]" level="INFO" doc:name="Logger"/>
        <flow-ref name="updateCustomerDetailsByID" doc:name="Flow Ref: Update Customer By ID"/>

    </flow>
    <flow name="delete:/customerDetails/{ID}:customer-details-api-config">
        <logger message="&quot;Received request to delete Customer details with customer ID :&quot;+#[flowVars.ID]" level="INFO" doc:name="Logger"/>
        <flow-ref name="deleteCustomerByID" doc:name="Flow Ref: Delete Customer By ID"/>

    </flow>
    <flow name="customer-details-api-main">
        <http:listener config-ref="customer-details-api-httpListenerConfig" path="/api/*" doc:name="HTTPS"/>
        <apikit:router config-ref="customer-details-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="customer-details-apiapiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="customer-details-api-console">
        <http:listener config-ref="customer-details-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="customer-details-api-config" doc:name="APIkit Console"/>
    </flow>
    <apikit:mapping-exception-strategy name="customer-details-apiapiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
